<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:camel="http://camel.apache.org/schema/spring"
       xsi:schemaLocation="
          http://www.springframework.org/schema/beans
          http://www.springframework.org/schema/beans/spring-beans.xsd
          http://camel.apache.org/schema/spring
          http://camel.apache.org/schema/spring/camel-spring.xsd">

    <!-- Route(s) -->
    <camel:camelContext id="camelContext">
        <camel:routeBuilder ref="weatherRoute"/>
    </camel:camelContext>
    <bean id="weatherRoute" class="dk.moerks.soapws.routes.WeatherRoute"/>

    <!-- Endpoint Mapping -->
    <bean id="endpointMapping" class="org.apache.camel.component.spring.ws.bean.CamelEndpointMapping" />

    <!-- WSDL Exposure -->
    <bean id="weather" class="org.springframework.ws.wsdl.wsdl11.DefaultWsdl11Definition">
        <property name="schema">
            <bean id="xsd" class="org.springframework.xml.xsd.SimpleXsdSchema">
                <property name="xsd" value="WEB-INF/classes/weather.xsd"/>
            </bean>
        </property>
        <property name="portTypeName" value="soapws"/>
        <property name="locationUri" value="/weather"/>
    </bean>
</beans>